:root {
  --bg: #000000;
  --fg: #ffffff;
  --fl: #ffffff80;
  --bl: #00000080;
}
* {
  scrollbar-width: none;
}
h1, h2, p {
  margin: 0;
}
input {
  border: none;
  background: var(--fg);
  color: var(--bg);
  padding: 0;
}
#pearly {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: multiply;
  filter: saturate(2);
}

textarea {
  background: var(--fg);
  color: var(--bg);
}

textarea::placeholder {
  color: var(--bl);
}

input::placeholder {
  color: var(--bl);
}

body {
  font-family: sans-serif;
  color: var(--fg);
  background: var(--bg);
  margin: 0;
}

.block-link {
	display: block;
	font-size: 2rem;
}

a {
	color: var(--fg);
	text-decoration: none;
  font-weight: 400;
}

a:hover {
  font-weight: 700;
}
#content.desktop>* {
	max-height: 100vh;
	overflow-y: scroll;
	align-self: start;
}
#content.desktop>:not(:last-child) {
  border-right: .25rem solid var(--fg);
}
#content.tab-a > *:not(:nth-child(1)) {
	display: none;
}
#content.tab-b > *:not(:nth-child(2)) {
	display: none;
}
#content.tab-c > *:not(:nth-child(3)) {
	display: none;
}
#content.desktop .mobile {
  display: none;
}
#content:not(.desktop) .desktop {
  display: none;
}
